<!doctype html>
<html lang="en">
<head>
     <title>Youtube Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- nav bar start here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Download</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            
            <li class="nav-item ">
                <a class="nav-link" href="/">Youtube video Downloader<span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>
<!-- nav bar end here -->

<!-- container start here -->
<div class="container">

    <br><br>
    <center><h1> Enter Only youtube Video Link Here </h1></center>
    <!-- form start here -->
    <form method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <input name="ylink" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter Your Selected Youtube Video Link.">           
        </div>
        <br>
        <center>
            <button type="submit" class="btn btn-danger">Submit</button>
        </center>
    </form>
    <!-- form end here -->
</div>

<!-- container end here -->

