{% load static %}
<!doctype html>
<html lang="en">
<head>
     <title>Youtube Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- nav bar start here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            
            <li class="nav-item ">
                <a class="nav-link" href="/">Youtube video Downloader<span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>
<!-- nav bar end here -->

<!-- container start here -->
<div class="container" >

    <br><br>
    <center><a href= "" ><h1 id = "titlew">Youtube Video Downloader </h1></a></center>
    <style>
    body, html {
  height: 100%;
  margin: 0;
}

.container {
  /* The image used */
  background-image: url("{% static 'images/image.jpg' %}");

  /* Full height */
  height: 100%;     

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:100% 100%;
}
    #link{
        
        text-align: center;
        padding :200;
    }
    #adressStore{
        text-align : center;
    
    }
    h1{
       color:  red; 
    }
    </style>
    <!-- form start here -->
    <form method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <input name="ylink" type="url" class="form-control" id="link" aria-describedby="youtube link"
                   placeholder="Enter Only youtube Video Link Here"> 
                   <br>
            <input name="adress" type="text" class="form-control" id="adressStore" aria-describedby="adress to store"
                   placeholder="Enter the path you want to save">           
        </div>
        <br>
        <center><h5>{{title}}</h5></center>
        <center> {{link|safe}} </center >  
        <br>
        <center>
        <label>Quality</label>
        <select>
            <option>-select-</option>
            <option value="mp4a">144 Mp4</option>
            <option value="360">360 Mp4</option>
            <option value="480">480 Mp4</option>
            <option value="720">720 Mp4</option>
            <option value="1080">1080 Mp4</option>
        </select>
        <br>
            <button onclick="clicked()" class="btn btn-danger" >download</button>
            <br>
            <center><b>{{completed}}</b></center>       
            <script type="text/javascript">
                    function clicked() {
                    alert("Your video download has been started");
                    }
            </script>
        </center>
    </form>
   
    <!-- form end here -->
</div>

<!-- container end here -->